<div class="registration-form-wrapper">
  <h1>Log in</h1>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="registration-form">
        <div class="registration-form-field-wrapper">
          <%= f.label :email, class: "label" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "registration-form-field-input" %>
        </div>

        <div class="registration-form-field-wrapper">
          <%= f.label :password, class: "label" %>
          <%= f.password_field :password, autocomplete: "current-password", class: "registration-form-field-input" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="registration-form-actions">
            <div>
              <%= f.check_box :remember_me, class: "registration-form-checkbox" %>
              <%= f.label :remember_me, class: "label" %>
            </div>
            <div>
              <%= f.submit "Log in", class: "button" %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
</div>
