<%= turbo_frame_tag "modal" do %>
  <div
    data-controller="modals"
    data-action="keyup@window->modals#closeWithKeyboard click@window->modals#closeBackground"
    class="modal-wrapper"
  >
    <div data-modals-target="modal" class="modal">
      <%= form_with(model: @room, url: room_path(@room), method: :patch, html: {class: 'form-content', 'data-modals-target': 'form'}) do |form| %>
        <%= form.label :name, "Name:", class: "label" %>
        <%= form.text_field :name, class: 'form-input', autofocus: true %>
        <%= form.label :estimates, "Estimates:", class: "label" %>
        <%= form.text_field :estimates, class: 'form-input', placeholder: "1,2,3,4,5,6,7" %>
        <div class="form-buttons">
          <%= form.submit "Cancel", class: 'button-border', data: {controller: "modals", action: "modals#close"} %>
          <%= form.submit "Update", class: 'button-border', data: {turbo: false} %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
